{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": ["last 2 versions", "Explorer >= 10"]
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
