<app-header
  [sources]="sourcesNews"
  (idSelectedSource)="handlerSelectedSource($event)"
  (createdUserNews)="handlerCreatedUserNews($event)"
  (addArticle)="handlerAddArticle()"
>
</app-header>
<main class="container">
  <app-news-list
    class="row"
    [newsList]="viewNews"
    (clickLoadButton)="handlerClickLoad()"
  ></app-news-list>
  <router-outlet></router-outlet>
</main>
<footer class="d-flex justify-content-around align-items-center">
  <span>Footer</span>
  <span>Powered by NewsAPI</span>
</footer>
