<header-app
  [sources]="sourcesNews"
  (idSelectedSource)="handlerSelectedSource($event)"
  (createdUserNews)="handlerCreatedUserNews($event)"
>
</header-app>
<main class="container">
  <news-list
    class="row"
    [newsList]="viewNews"
    (clickLoadButton)="handlerClickLoad($event)"
    (deleteNews)="handlerDeleteNews($event)"
  ></news-list>

</main>
<footer class="d-flex justify-content-around align-items-center">
  <span>Footer</span>
  <span>Powered by NewsAPI</span>
</footer>
<router-outlet></router-outlet>
