<header class="header container">
  <section class="header__row1 row justify-content-between align-items-center">
    <span class="header__name-logo">Aggregator logo</span>
    <div>
      <span class="header__user-login">User login</span>
      <button class="header__log-out-btn">Log out</button>
    </div>
  </section>
  <section class="header__row2 row justify-content-center align-items-center">
    <h1 class="header__source-name">{{sourceName}}</h1>
  </section>
  <section class="header__row3 row justify-content-between align-items-center">
    <select
      name="source"
      id="source"
      class="header__select-source"
      (change)="onChangeSource($event)"
    >
      <option value="selectsource">Select source</option>
      <option *ngFor="let source of sources; let i = index;" [value]="i">{{source.name}}</option>
    </select>
    <div>
      <input type="text" class="header__filter-text">
      <button class="header__filter-btn">Filter</button>
    </div>
    <label for="me-created">
      <input
        type="checkbox"
        name="me-created"
        id="me-created"
        [checked]="isCreatedMe"
        (change)="onChangeCreatedMe()"
      >
      Only created by me
    </label>
    <button class="header__add-article-btn">Add article</button>
  </section>
</header>