<section class="news-content d-flex justify-content-around">
  <div>
    <img class="news-content__photo" [src]="news.urlToImage" alt="photo news">
  </div>
  <div class="news-content__info">
    <h1 class="news-content__title">{{news.title}}</h1>
    <p class="news-content__text">
      {{news.content}}
    </p>
    <span class="news-content__date">{{news.publishedAt}}</span>
    <span class="news-content__author">{{news.author}}</span>
  </div>
  <div class="news-content__btn d-flex justify-content-start flex-column">
    <button *ngIf=news.isUserNews (click)="onClickEdit()">Edit</button>
    <button *ngIf=news.isUserNews (click)="onClickDelete()">Delete</button>
    <button (click)="onClickBack()">Back</button>
  </div>
</section>