<section class="d-flex justify-content-between align-items-center">
  <div class="news-item__photo"></div>
  <div class="news-item__info">
    <div class="d-flex justify-content-between">
      <h2 class="news-item__name">NewsLine</h2>
      <span class="news-item__date-time">Date: dd/mm/yy : time</span>
    </div>
    <p class="news-item__description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum quia suscipit voluptas dolorem quos eligendi amet eaque doloribus beatae delectus.
    </p>
    <a href="#" class="news-item__link">Read more...</a>
  </div>
  <div class="news-item__block-btn">
    <button>Edit</button>
    <button>Delete</button>
  </div>
</section>