<section class="news-item d-flex justify-content-between align-items-center">
  <img class="news-item__photo" alt="photo news" [src]="news.urlToImage">
  <div class="news-item__info">
    <div class="d-flex justify-content-between">
      <h2 class="news-item__name" (click)="handlerShowContent()">{{news.title}}</h2>
      <span class="news-item__date-time">{{news.publishedAt | date:'medium'}}</span>
    </div>
    <p class="news-item__description">
      {{news.description}}
    </p>
    <a [href]="news.url" target="_blank" class="news-item__link">Read more...</a>
  </div>
  <div *ngIf="news.isUserNews" class="news-item__block-btn d-flex flex-column">
    <button (click)="handlerEditNews()">Edit</button>
    <button (click)="handlerDeleteNews()">Delete</button>
  </div>
</section>