/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

p {
  margin: 0;
}

body {
  min-height: 100vh;
}

.app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}